
/*
/*Festlegung der Boxeigenschaften für alle Elemente, weil /*diese nicht vererbt werden.
*/

*,* ::before,* ::after{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    border: 0 solid gold;
}
nav>ul>li :first-child{
	display: none;
        margin-left: 10%;
}
nav>ul>li{
    /*mit padding vom Rand entfernen,
    durch box-sizing: borderbox,
    kann das padding angepasst werden,
    ohne daß sich die Gesamtgröße der box verändert.*/
    padding: 0% 0%;
    /*inline-block erlaubt, die Elemente nebeneinanderzustellen, und trotzdem Größenangaben und vertical-align zu zulassen, was sonst nur bei Blockelementen erlaubt ist.*/
    display: inline-block;
    /*eigentlich würde man denken, 3 Elemente benötigen je 33,3% Platz, aber vertikale margins kollabieren nicht, deshalb braucht man ein wenig extra Platz von 1%*/
    width: 32%;
    vertical-align: middle;
}

nav>ul>li:last-child{
    text-align: right;
}
hr {
	  width: 100%;
	  height: 3px;
          margin: 0 auto;
	  background: #FFF;
    }

body{
    width: 100%;
    height: 100%;
    background-color: #DADADA;
    font-family: calibri, helvetica, arial, tahoma, sans-serif;
    font-size: 100.1%;
    color: #FFF;
}
#startlogo{
    width:50%;
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
}
/* HEADER */

nav{
    position:fixed;
    width:100%;
    background-color: #B2B2B2;
    padding: 6%;
    left:0;
    top:0;
}
#einstellung,#suche,#logo{
    display: inline-block;
    vertical-align: middle;
}
#einstellung{
    width:26%;
}
#suche{
    width: 32%;
}
#logo{
    width:17%;
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
}

/* INHALT */
body>div{
    padding: 0 7%;
    margin-top: 25%;
    /*border: solid black;*/
}
#neues{
    padding:3% 3%;
    margin-top: 5%;
    background-color: #BEBEBE;
    margin-bottom: 10%;
}

body>div>div{
    background-color: #C6C6C6;
    margin-bottom: 5%;
}

div>div>div{
    padding: 0% 2%;
    font-size: 70%;
}

div>div>div :first-child{
    float: left;
}
.dauer{
   text-align: right;
}
div img{
    width: 100%;
}



@media only screen and (max-width: 480px)
{
    .inhalt{

    }
}

@media only screen and (max-width: 1024px) and (min-width: 481px)
{
    .inhalt{
        font-size: 250%;

    }
}
@media only screen and (min-width: 480px) and (max-width : 1024px)
and (orientation : landscape) {
    .top{
        background-color: red;
    }

    }

